<div class="row">
	<div class="span10 offset1">
		<h1>New call</h1>
		<br />
		
		<%= render 'form' %>
		
		<%= link_to 'Back', calls_path, {:class => 'btn btn-inverse'}%>


	</div>
</div>
<br />
<br />
<div class="row">
	<div class="span10 offset1 alert alert-info">
			To make a call: 
			<pre>
twcall = @twilio_client.account.calls.create(
          from: "4915705008633",
          to: @call.to, 
          url: "#{url_for(@call)}/twiml.xml")
			
	</div>
</div>