<div class="row">
	<div class="span10 offset1">
	<h1>New SMS</h1><br />
	
	<%= render 'form' %>
	
	<%= link_to 'Back', sms_path, {:class => 'btn btn-inverse'}%>
	
	</div>
</div>
<br />
<br />
<div class="row">
	<div class="span10 offset1 alert alert-info">
			To send text messages: 
			<pre>
@twilio_client.account.sms.messages.create(
  :from => "+4915705008633",
  :to =>@sms.number, 
  :body => @sms.text)
			</pre>
			
	</div>
</div>
