<IfModule mod_expires.c>
ExpiresActive On
	ExpiresByType text/css "access plus 1 week"
	ExpiresByType application/javascript "access plus 1 month"
	ExpiresByType application/x-javascript "access plus 1 month"
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType image/x-icon "access plus 1 year"
	ExpiresByType audio/mpeg "access plus 2 weeks"
</IfModule>
